@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-size: 1.2rem;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

header{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: #3DE0A1;
    color: #fff;
    box-shadow: 2px 8px 5px #cccccca9;
    
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    padding: 20px;
}

.logo{
    max-width: 300px;
    align-self: center;
}

.logo img{
    width: 100%;
}

article{
    background-image:linear-gradient(#76D7A4,#76D7A4,#76D7A4,#1b8c5098);
    padding:10px;
    margin: 10px;
    text-align: center;
    max-width: 90vw;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #cccccc96;
 
}


a{
    color: white;
    text-decoration: none;
}

footer{
    text-align: center;
    color:#539672 ;
    text-shadow: 2px 2px 3px #7bdfaaa7;
    padding: 20px;
}

footer a{
    color:#173a7e;
    text-decoration: underline;
}

span{
    color: rgb(225, 225, 42);
    font-size: 1.4rem;
    text-shadow:2px 2px 2px 3px #000;
}


@media screen and (max-width:540px) {
    *{
        font-size:1.03rem;
    }

    h1{
        font-size: 1.3rem;
    }
}